.formBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 15% 12% 0 12%;
  .input-container {
    display: grid;
    gap: 20px;
    width: 100%;
    margin-top: 15%;
    .recover-pass {
      font-size: 0.65rem;
      letter-spacing: 2px;
      font-family: "Montserrat";
      font-weight: 500;
      color: white;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .button-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-top: 20px;
    letter-spacing: 2px;
  }
}

.title {
  padding-bottom: 64px;
  color: white;
  font-size: 22px;
  letter-spacing: 8px;
  text-shadow: 1px 1px 3px #ffffffd0, -1px -1px 3px #ffffff85;
}

/**********  Mwdia Query 450 ***********/

@media (min-width: 650px) {
  .formBox {
    gap: 1rem;
    padding: 35px;
  }
}
