<div class="blue-card">
  <h3 class="subtitle-card">Puntuaciones</h3>
  <div class="step">
    <img src="../../../../assets/svg/icon-sun.svg" alt="Icono sol" />

    <p>
      ¡Cada acierto suma <b>+50 Soles!</b> La puntuación del equipo será
      <b>la media de vuestras puntuaciones individuales.</b> ¡Cada punto cuenta!
    </p>
    <br />
    <p>
      Pero además, puedes conseguir <b>bonus</b> que se suman directamente a tu
      puntuación y la de tu equipo:
    </p>
  </div>
  <div class="step">
    <img src="../../../../assets/svg/icon-time.svg" alt="Icono tiempo" />

    <div>
      <h4 class="subtitle-yellow">Speed Bonus</h4>
      <p>¡Los 10 primeros en acertar se llevarán <b>+50 Soles!</b></p>
    </div>
  </div>

  <div class="step">
    <img
      src="../../../../assets/svg/icon-teamBonus.svg"
      alt="Icono team bonus"
    />

    <div>
      <h4 class="subtitle-yellow">Team Bonus</h4>
      <p>
        ¡Juega en equipo! Si todos acertáis una misma pregunta,
        <b> ¡cada miembro del equipo se llevará +5 Soles adicionales! </b>
      </p>
    </div>
  </div>
</div>
