<div class="blue-card">
  <h3 class="subtitle-card">Booster Rounds</h3>

  <div class="step">
    <img src="../../../../assets/svg/icon-ray.svg" alt="Icono porcentaje" />

    <p>
      <b>Y si vas mal de puntos...</b> <br />
      Nada está decidido: ¡a lo largo del campeonato habrá
      <b>Booster Rounds que podrán cambiarlo todo!</b>
    </p>
  </div>

  <h3 class="subtitle-card">Los premios</h3>
  <div class="step">
    <img src="../../../../assets/svg/icon-trophy.svg" alt="Icono porcentaje" />

    <div>
      <h4 class="subtitle-yellow">Premios para los 3 mejores equipos:</h4>
      <div>
        <p>1. Experiencia <b>MotoGP Valencia 2024</b></p>
        <p>2. Experiencia <b>Final Premier Pádel 2024</b></p>
        <p>3. Experiencia <b>Semifinalñ Premier Pádel 2024</b></p>
      </div>
    </div>
  </div>
  <div class="step">
    <div>
      <h4 class="subtitle-yellow">Premios para los 3 mejores jugadores:</h4>
      <div>
        <p>1. Inscripción y viaje al <b>Congreso EADV 2024</b></p>
        <p>2. Inscripción y viaje al <b>Congreso GEDET 2024</b></p>
        <p>3. Inscripción y viaje al <b>Congreso GEDOC 2024</b></p>
      </div>
    </div>
  </div>
</div>
