.reload-modal-container {
  display: grid;
  place-items: center;
  padding: 20px 30px;
  gap: 24px;
  text-align: center;
}

.reload-modal-buttons-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
