$primary-color: #1e529d;
$primary-color-light: #00a3e0;
$primary-color-dark: #133266;
$secondary-color: #ffec2d;
$secondary-color-dark: #d9c320;

// Gradients
$input-gradient: linear-gradient(0deg, $primary-color 0%, #091025 100%);
$bg-gradient: linear-gradient(
  250deg,
  hsl(214, 77%, 41%) 0%,
  rgb(190, 225, 255) 100%
);
$card-gradient: linear-gradient(0deg, #091025 0%, $primary-color 100%);
$card-gradient-rounds: linear-gradient(0deg, $primary-color 0%, #091025 30%);

$lightblue-gradient: linear-gradient(
  90deg,
  #9ce4ff 0%,
  $primary-color-light 100%
);

$darkblue-gradient: linear-gradient(180deg, #1e529d 0%, #00a3e0 100%);

// Effects, #1E529D
$shadow: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));

.primary-gradient {
  background: $secondary-color;
  background: linear-gradient(
    90deg,
    $secondary-color 0%,
    $secondary-color-dark 51.17%,
    $secondary-color 99.21%
  );
  color: $primary-color !important;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background: $primary-color;
  }
}

.secondary-gradient {
  background: $primary-color;
  background: radial-gradient(
    circle,
    $primary-color 0%,
    $primary-color-light 100%
  );
  color: white !important;
}

//Switch gradients

$bgSwitch-gradient-primary: linear-gradient(
  $primary-color-dark,
  $primary-color
);

$bgSwitch-gradient-secondary: linear-gradient(#af9509, $secondary-color-dark);

$btnSwitch-gradient-primary: linear-gradient(
  $primary-color,
  $primary-color-light
);

$btnSwitch-gradient-secondary: linear-gradient(
  $secondary-color,
  $secondary-color-dark
);
