.container {
  height: 100%;
  padding: 0 20px;
}

.content {
  display: grid;

  a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding: 30px 0;
    cursor: pointer;

    &:nth-child(5),
    &:nth-child(6) {
      margin-left: -5px;
    }

    &:last-child {
      border-bottom: none;
    }

    & span {
      color: white;
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: 8px;
      text-shadow: 1px 1px 4px #ffffffd0, -1px -1px 4px #ffffffd0;
    }
  }
}

@media (min-width: 650px) {
  .container {
    padding: 0;
  }

  .content {
    span {
      text-wrap: nowrap;
    }
  }
}
